---
import KazakhLayout from "../../../layouts/KazakhLayout.astro";
import BoxFrontier from "../../../components/BoxFrontier.astro";
import ButtonFrontier2 from "../../../components/ButtonFrontier2.astro";
import SectionSwitcherFrontier from "../../../components/SectionSwitcherFrontier.astro";

import chapters from "../../../assets/json/phrasebook/chapters.json";
const chapters_a1 = chapters["a1"];
const chapters_a2 = chapters["a2"];
const chapters_b1 = chapters["b1"];
const chapters_b2 = chapters["b2"];

// Title
const pageTitle = "카자흐어 회화";

// Section Switcher
const tabItems = [
  { id: "group-a1", label: "A1" },
  { id: "group-a2", label: "A2" },
  { id: "group-b1", label: "B1" },
  { id: "group-b2", label: "B2" },
];
---

<KazakhLayout pageTitle={pageTitle + " | Kazariah"}>
  <BoxFrontier
    title="Tirkeser"
    subtitle="카자흐어 회화"
    description="알마티의 활기 속에서 건네는 부드러운 살렘 — 저 멀리 눈 덮인 텡리 산이 솟아오른 곳, 초원의 바람이 탁 트인 자유로움을 실어 나르는 곳. 이 회화 모음집은 일상의 카자흐어 깊은 곳에 흐르는 잔잔한 온기를 담았습니다."
    language="kaz"
  />

  <SectionSwitcherFrontier items={tabItems} />

  <main>
    <section class="group-a1 fade_1">
      <h2>
        <span class="animated-underline-kaz">CEFR A1</span>
      </h2>
      <ul>
        {
          chapters_a1.map((post: any) => (
            <ButtonFrontier2
              id={post.id}
              title={post.kaz}
              subtitle={post.kor}
              language="kaz"
              path={"/kazakh/phrasebook/a1/" + post.path}
            />
          ))
        }
      </ul>
    </section>

    <section class="group-a2 fade_1">
      <h2>
        <span class="animated-underline-kaz">CEFR A2</span>
      </h2>
      <ul>
        {
          chapters_a2.map((post: any) => (
            <ButtonFrontier2
              id={post.id}
              title={post.kaz}
              subtitle={post.kor}
              language="kaz"
              path={"/kazakh/phrasebook/a2/" + post.path}
            />
          ))
        }
      </ul>
    </section>

    <section class="group-b1 fade_1">
      <h2>
        <span class="animated-underline-kaz">CEFR B1</span>
      </h2>
      <ul>
        {
          chapters_b1.map((post: any) => (
            <ButtonFrontier2
              id={post.id}
              title={post.kaz}
              subtitle={post.kor}
              language="kaz"
              path={"/kazakh/phrasebook/b1/" + post.path}
            />
          ))
        }
      </ul>
    </section>

    <section class="group-b2 fade_1">
      <h2>
        <span class="animated-underline-kaz">CEFR B2</span>
      </h2>
      <ul>
        {
          chapters_b2.map((post: any) => (
            <ButtonFrontier2
              id={post.id}
              title={post.kaz}
              subtitle={post.kor}
              language="kaz"
              path={"/kazakh/phrasebook/b2/" + post.path}
            />
          ))
        }
      </ul>
    </section>
  </main>
</KazakhLayout>

<style>
  section {
    padding-top: 1.5rem;
  }
</style>
