---
import IvriahLayout from "../../../layouts/IvriahLayout.astro";
import BoxFrontier from "../../../components/BoxFrontier.astro";
import ButtonFrontier2 from "../../../components/ButtonFrontier2.astro";
import SectionSwitcherFrontier from "../../../components/SectionSwitcherFrontier.astro";

import chapters from "../../../assets/json/composite/chapters.json";
const chapters_a0 = chapters["a0"];
const chapters_a1 = chapters["a1"];
const chapters_a2 = chapters["a2"];
const chapters_b1 = chapters["b1"];

// Title
const pageTitle = "종합 히브리어";

// Section Switcher
const tabItems = [
  { id: "group-a0", label: "입문" },
  { id: "group-a1", label: "기초" },
  { id: "group-a2", label: "초급" },
  { id: "group-b1", label: "중급" },
];
---

<IvriahLayout pageTitle={pageTitle + " | Ivriah"}>
  <BoxFrontier
    title="Ivrit"
    subtitle="종합 히브리어"
    description="지중해에서 불어오는 따뜻한 샬롬 — 햇살 가득한 텔아비브의 거리 어딘가, 고대의 울림과 현대의 활기가 만나는 곳. 이 회화 모음집은 일상의 히브리어 속에 깃든 따뜻함과 생동감을 담았습니다."
    language="heb"
  />

  <SectionSwitcherFrontier items={tabItems} />

  <main>
    <section class="group-a0 riseUp_2">
      <h2>
        <span class="animated-underline-heb">입문 히브리어 (A0)</span>
      </h2>
      <ul>
        {
          chapters_a0.map((post: any) => (
            <ButtonFrontier2
              id={post.id}
              title={post.heb}
              subtitle={post.kor}
              language="heb"
              path={"/ivriah/composite/a0/" + post.path}
            />
          ))
        }
      </ul>
    </section>

    <section class="group-a1 riseUp_2">
      <h2>
        <span class="animated-underline-heb">기초 히브리어 (A1)</span>
      </h2>
      <ul>
        {
          chapters_a1.map((post: any) => (
            <ButtonFrontier2
              id={post.id}
              title={post.heb}
              subtitle={post.kor}
              language="heb"
              path={"/ivriah/composite/a1/" + post.path}
            />
          ))
        }
      </ul>
    </section>

    <section class="group-a2 riseUp_2">
      <h2>
        <span class="animated-underline-heb">초급 히브리어 (A2)</span>
      </h2>
      <ul>
        {
          chapters_a2.map((post: any) => (
            <ButtonFrontier2
              id={post.id}
              title={post.heb}
              subtitle={post.kor}
              language="heb"
              path={"/ivriah/composite/a2/" + post.path}
            />
          ))
        }
      </ul>
    </section>

    <section class="group-b1 riseUp_2">
      <h2>
        <span class="animated-underline-heb">중급 히브리어 (B1)</span>
      </h2>
      <ul>
        {
          chapters_b1.map((post: any) => (
            <ButtonFrontier2
              id={post.id}
              title={post.heb}
              subtitle={post.kor}
              language="heb"
              path={"/ivriah/composite/b1/" + post.path}
            />
          ))
        }
      </ul>
    </section>
  </main>
</IvriahLayout>

<style>
  section {
    padding-top: 1.5rem;
  }
</style>
