---
import "../styles/fonts.css";
import "../styles/colors.css";
import "../styles/transition.css";

const { title, subtitle, description, language } = Astro.props;

const colorMap800: Record<string, string> = {
  eng: "var(--pink800)",
  fra: "var(--sky800)",
  deu: "var(--amber800)",
  ita: "var(--emerald800)",
  spa: "var(--rose800)",
  rus: "var(--indigo800)",
  heb: "var(--blue800)",
  kaz: "var(--cyan800)",
};
const colorMap700: Record<string, string> = {
  eng: "var(--pink700)",
  fra: "var(--sky700)",
  deu: "var(--amber700)",
  ita: "var(--emerald700)",
  spa: "var(--rose700)",
  rus: "var(--indigo700)",
  heb: "var(--blue700)",
  kaz: "var(--cyan700)",
};
const colorMap600: Record<string, string> = {
  eng: "var(--pink600)",
  fra: "var(--sky600)",
  deu: "var(--amber600)",
  ita: "var(--emerald600)",
  spa: "var(--rose600)",
  rus: "var(--indigo600)",
  heb: "var(--blue600)",
  kaz: "var(--cyan600)",
};
const colorMap500: Record<string, string> = {
  eng: "var(--pink500)",
  fra: "var(--sky500)",
  deu: "var(--amber500)",
  ita: "var(--emerald500)",
  spa: "var(--rose500)",
  rus: "var(--indigo500)",
  heb: "var(--blue500)",
  kaz: "var(--cyan500)",
};
const colorMap400: Record<string, string> = {
  eng: "var(--pink400)",
  fra: "var(--sky400)",
  deu: "var(--amber400)",
  ita: "var(--emerald400)",
  spa: "var(--rose400)",
  rus: "var(--indigo400)",
  heb: "var(--blue400)",
  kaz: "var(--cyan400)",
};
const colorMap300: Record<string, string> = {
  eng: "var(--pink300)",
  fra: "var(--sky300)",
  deu: "var(--amber300)",
  ita: "var(--emerald300)",
  spa: "var(--rose300)",
  rus: "var(--indigo300)",
  heb: "var(--blue300)",
  kaz: "var(--cyan300)",
};
const colorMap200: Record<string, string> = {
  eng: "var(--pink200)",
  fra: "var(--sky200)",
  deu: "var(--amber200)",
  ita: "var(--emerald200)",
  spa: "var(--rose200)",
  rus: "var(--indigo200)",
  heb: "var(--blue200)",
  kaz: "var(--cyan200)",
};
const colorMap100: Record<string, string> = {
  eng: "var(--pink100)",
  fra: "var(--sky100)",
  deu: "var(--amber100)",
  ita: "var(--emerald100)",
  spa: "var(--rose100)",
  rus: "var(--indigo100)",
  heb: "var(--blue100)",
  kaz: "var(--cyan100)",
};
const color800 = colorMap800[language] || "var(--neutral800)";
const color700 = colorMap700[language] || "var(--neutral700)";
const color600 = colorMap600[language] || "var(--neutral600)";
const color500 = colorMap500[language] || "var(--neutral500)";
const color400 = colorMap400[language] || "var(--neutral400)";
const color300 = colorMap300[language] || "var(--neutral300)";
const color200 = colorMap200[language] || "var(--neutral200)";
const color100 = colorMap100[language] || "var(--neutral100)";

const greetingMap: Record<string, string> = {
  eng: "HELLO",
  deu: "HALLO",
  fra: "SALUT",
  rus: "PRIVET",
  heb: "SHALOM",
  kaz: "SAELEM",
};
const greeting = greetingMap[language] || "Welcome";
---

<style
  define:vars={{
    color800,
    color700,
    color600,
    color500,
    color400,
    color300,
    color200,
    color100,
  }}
>
  .box-right {
    background: linear-gradient(
      -45deg,
      var(--color300),
      var(--color100),
      var(--color300),
      var(--color200),
      var(--color300),
      var(--color100),
      var(--color300)
    );
    background-size: 700% 700%;
    animation: gradient 4s ease infinite;
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0% 50%;
    }
  }

  .box-right > h3 {
    color: var(--color500);
  }
</style>

<div class="box riseUp_1">
  <div class="box-left">
    <h1 class="riseUp_2">{title}</h1>
    <h2 class="riseUp_3">{subtitle}</h2>
    <p class="riseUp_4">{description}</p>
  </div>
  <div class="box-right">
    <h3>{greeting}</h3>
    <h3>{greeting}</h3>
    <h3>{greeting}</h3>
  </div>
</div>

<style>
  .box {
    position: relative;
    display: flex;
    width: 100%;
    aspect-ratio: 1 / 1;
    max-height: 300px;
    margin-bottom: 2rem;
    outline: none;
    z-index: 0;
    text-decoration: none;
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  }

  .box-left {
    width: 50%;
    padding-top: 1rem;
  }

  .box-left > h1 {
    position: relative;
    font-family: "Noto Korean", sans-serif;
    text-transform: uppercase;
    display: inline;
    font-size: 60px;
    font-weight: 700;
    line-height: 1;
    word-break: keep-all;
    word-wrap: break-word;
    transition: all 0.4s;
  }

  .box-left > h2 {
    position: relative;
    font-family: "Inter", "Noto Hebrew", sans-serif;
    display: block;
    font-size: 34px;
    font-weight: 600;
    letter-spacing: 0px;
    line-height: 1;
    margin-top: 1rem;
    transition: all 0.4s;
  }

  .box-left > p {
    position: absolute;
    bottom: 0;
    margin-bottom: 0;
    width: calc(40% - 3rem);
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0px;
    line-height: 1.4;
    transition: all 0.4s;
  }

  .box > p:last-child {
    margin-bottom: 0px;
  }

  .box-left > h1,
  .box-left > h2,
  .box-left > p {
    color: var(--neutral800);
  }

  .box-right {
    width: 50%;
    height: 100%;
    padding: 1.5rem;
    border-top-left-radius: 150px;
    border-bottom-left-radius: 150px;
  }

  .box-right > h3 {
    position: relative;
    display: block;
    text-align: right;
    width: 100%;
    font-family: "Fjalla One", sans-serif;
    text-transform: uppercase;
    font-size: 90px;
    font-weight: 600;
    line-height: 84px;
    margin-bottom: 0;
  }

  /* Mobile */
  @media (max-width: 480px) {
    .box {
      flex-direction: column;
      max-height: 510px;
    }

    .box-left,
    .box-right {
      width: 100%;
    }

    .box-left > h1 {
      font-size: 50px;
    }

    .box-left > h2 {
      font-size: 24px;
    }

    .box-left > p {
      font-size: 13px;
    }

    .box-right {
      transform: translateY(-60px);
    }
  }
</style>
