---
import "../styles/fonts.css";
import "../styles/colors.css";
import "../styles/transition.css";

interface Props {
  title: string;
  subtitle: string;
  description: string;
  language: string;
  path: string;
  level?: string;
}
const { title, subtitle, description, language, path, level } = Astro.props;

const colorMap800: Record<string, string> = {
  nld: "var(--orange800)",
  fra: "var(--sky800)",
  deu: "var(--amber800)",
  ita: "var(--emerald800)",
  spa: "var(--rose800)",
  rus: "var(--indigo800)",
};
const colorMap700: Record<string, string> = {
  nld: "var(--orange700)",
  fra: "var(--sky700)",
  deu: "var(--amber700)",
  ita: "var(--emerald700)",
  spa: "var(--rose700)",
  rus: "var(--indigo700)",
};
const colorMap600: Record<string, string> = {
  nld: "var(--orange600)",
  fra: "var(--sky600)",
  deu: "var(--amber600)",
  ita: "var(--emerald600)",
  spa: "var(--rose600)",
  rus: "var(--indigo600)",
};
const colorMap500: Record<string, string> = {
  nld: "var(--orange500)",
  fra: "var(--sky500)",
  deu: "var(--amber500)",
  ita: "var(--emerald500)",
  spa: "var(--rose500)",
  rus: "var(--indigo500)",
};
const colorMap400: Record<string, string> = {
  nld: "var(--orange400)",
  fra: "var(--sky400)",
  deu: "var(--amber400)",
  ita: "var(--emerald400)",
  spa: "var(--rose400)",
  rus: "var(--indigo400)",
};
const colorMap300: Record<string, string> = {
  nld: "var(--orange300)",
  fra: "var(--sky300)",
  deu: "var(--amber300)",
  ita: "var(--emerald300)",
  spa: "var(--rose300)",
  rus: "var(--indigo300)",
};
const colorMap200: Record<string, string> = {
  nld: "var(--orange200)",
  fra: "var(--sky200)",
  deu: "var(--amber200)",
  ita: "var(--emerald200)",
  spa: "var(--rose200)",
  rus: "var(--indigo200)",
};
const colorMap100: Record<string, string> = {
  nld: "var(--orange100)",
  fra: "var(--sky100)",
  deu: "var(--amber100)",
  ita: "var(--emerald100)",
  spa: "var(--rose100)",
  rus: "var(--indigo100)",
};
const color800 = colorMap800[language] || "var(--zinc800)";
const color700 = colorMap700[language] || "var(--zinc700)";
const color600 = colorMap600[language] || "var(--zinc600)";
const color500 = colorMap500[language] || "var(--zinc500)";
const color400 = colorMap400[language] || "var(--zinc400)";
const color300 = colorMap300[language] || "var(--zinc300)";
const color200 = colorMap200[language] || "var(--zinc200)";
const color100 = colorMap100[language] || "var(--zinc100)";

const greetingMap: Record<string, string> = {
  fra: "Salut",
  rus: "Привет",
  deu: "Hallo",
  nld: "Hallo",
  ita: "Ciao",
  spa: "Hola",
};
const greeting = greetingMap[language] || "Welcome";
---

<style define:vars={{ color500, color400, color300, color200, color100 }}>
  .btn > h3 {
    color: var(--color500);
  }

  .btn:hover {
    background: linear-gradient(
      -45deg,
      var(--color300),
      var(--color100),
      var(--color200)
    );
    background-size: 300% 300%;
    animation: gradient 4s ease infinite;
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0% 50%;
    }
  }

  .btn:hover > h1,
  .btn:hover > h2,
  .btn:hover > p {
    color: var(--color500);
  }

  .btn:hover > h3 {
    opacity: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
</style>

<a href={path}>
  <div class="btn">
    <h1>{title}</h1>
    <h2>{subtitle}</h2>
    <p>{description}</p>
    <h3>{greeting}</h3>
  </div>
</a>

<style>
  .btn {
    position: relative;
    background-color: var(--neutral200);
    padding: 1rem;
    min-height: 400px;
    width: 100%;
    height: 100%;
    transition: all 0.4s;
  }

  .btn > h1 {
    position: relative;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 40px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0rem;
    transition: all 0.4s;
  }

  .btn > h2 {
    position: relative;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: var(--zinc500);
    transition: all 0.4s;
  }

  .btn > p {
    display: inline-block;
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    text-align: right;
    margin-top: 2rem;
    margin-bottom: 0rem;
    font-size: 15px;
    font-weight: 500;
    color: var(--zinc500);
  }

  .btn > h3 {
    position: absolute;
    text-align: center;
    margin: 0;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Roboto Condensed", sans-serif;
    text-transform: uppercase;
    width: 50%;
    font-size: 24px;
    font-weight: 600;
    color: var(--zinc800);
    opacity: 0;
    transition: all 0.4s;
  }

  /* Mobile */
  @media (max-width: 480px) {
    .btn {
      min-height: 300px;
    }

    .btn > h1 {
      font-size: 22px;
    }

    .btn > h2 {
      font-size: 15px;
      font-weight: 500;
    }

    .btn > h3 {
      font-size: 15px;
    }

    .btn > p {
      font-size: 13px;
      font-weight: 500;
    }
  }
</style>
