---
import "../styles/fonts.css";
import "../styles/colors.css";
import "../styles/transition.css";
import { Icon } from "astro-icon/components";

const { id, title, subtitle, language, path, level } = Astro.props;

const colorMap1: Record<string, string> = {
  eng: "var(--pink400)",
  fra: "var(--sky400)",
  deu: "var(--amber400)",
  rus: "var(--indigo400)",
  tur: "var(--rose400)",
  kaz: "var(--cyan400)",
  uzb: "var(--lime400)",
};
const colorMap2: Record<string, string> = {
  eng: "var(--pink200)",
  fra: "var(--sky200)",
  deu: "var(--amber200)",
  rus: "var(--indigo200)",
  tur: "var(--rose200)",
  kaz: "var(--cyan200)",
  uzb: "var(--lime200)",
};
const borderColor = colorMap1[language] || "var(--zinc400)";
const backgroundColor = colorMap2[language] || "var(--zinc300)";

const levelMap: Record<string, string> = {
  a0: "mdi:chess-pawn",
  a1: "mdi:chess-knight",
  a2: "mdi:chess-bishop",
  b1: "mdi:chess-rook",
  b2: "mdi:chess-queen",
  phrase: "mdi:tooltip-text-outline",
  pattern: "mdi:puzzle-outline",
};
const levelIcon = levelMap[level] || "mdi:chess-pawn";
---

<style define:vars={{ borderColor, backgroundColor }}>
  .btn:hover {
    border: 2px solid var(--borderColor);
    /* background: linear-gradient(
      -45deg,
      var(--backgroundColor),
      var(--zinc200),
      var(--zinc200)
    );
    background-size: 300% 300%;
    animation: gradient 4s ease infinite; */
    box-shadow: 5px 5px var(--borderColor);
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0% 50%;
    }
  }

  .btn:hover > svg {
    opacity: 1;
    color: var(--borderColor);
  }
</style>

<a href={path}>
  <div class="btn">
    <h1>{id}. {title}</h1>
    <h2>{subtitle}</h2>
    {level && <Icon name={levelIcon} />}
  </div>
</a>

<style>
  .btn {
    position: relative;
    border: 2px dashed var(--zinc800);
    padding: 1rem 1.5rem;
    margin-bottom: 2rem;
    transition: all 0.4s;
  }

  .btn > h1 {
    position: relative;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 0.5rem;
  }

  .btn > h2 {
    position: relative;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 0rem;
    color: var(--zinc500);
  }

  .btn > p {
    position: absolute;
    left: 1.5rem;
    bottom: 0;
  }

  .btn > svg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1.5rem;
    width: 30px;
    height: 30px;
    opacity: 1;
    color: var(--zinc300);
    transition: all 0.4s;
  }

  /* Mobile */
  @media (max-width: 768px) {
    .btn > h1 {
      font-size: 22px;
      width: 90%;
    }

    .btn > h2 {
      font-size: 15px;
    }

    .btn > p {
      font-size: 12px;
    }
  }
</style>
