---
import "../styles/fonts.css";
import "../styles/colors.css";
import "../styles/transition.css";

interface Props {
  title: string;
  subtitle: string;
  description: string;
  language: string;
  path: string;
  level?: string;
}
const { title, subtitle, description, language, path, level } = Astro.props;

const colorMap1: Record<string, string> = {
  eng: "var(--pink400)",
  fra: "var(--sky400)",
  deu: "var(--amber400)",
  ita: "var(--emerald400)",
  esp: "var(--orange400)",
  rus: "var(--indigo400)",
  tur: "var(--rose400)",
  ces: "var(--blue400)",
  hun: "var(--lime400)",
};
const colorMap2: Record<string, string> = {
  eng: "var(--pink200)",
  fra: "var(--sky200)",
  deu: "var(--amber200)",
  ita: "var(--emerald200)",
  esp: "var(--orange200)",
  rus: "var(--indigo200)",
  tur: "var(--rose200)",
  ces: "var(--blue200)",
  hun: "var(--lime200)",
};
const borderColor = colorMap1[language] || "var(--zinc400)";
const backgroundColor = colorMap2[language] || "var(--zinc300)";

const greetingMap: Record<string, string> = {
  eng: "Hello",
  fra: "Bonjour",
  deu: "Hallo",
  ita: "Ciao",
  esp: "Hola",
  rus: "Здравствуйте",
  tur: "Merhaba",
  ces: "Ahoj",
  hun: "Szia",
};
const greeting = greetingMap[language] || "Hello";
---

<style define:vars={{ borderColor, backgroundColor }}>
  .btn > h3 {
    color: var(--borderColor);
  }

  .btn:hover {
    border: 2px solid var(--borderColor);
    border-radius: 20px;
    background: linear-gradient(
      -45deg,
      var(--backgroundColor),
      var(--zinc200),
      var(--zinc200)
    );
    background-size: 300% 300%;
    animation: gradient 4s ease infinite;
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0% 50%;
    }
  }

  .btn:hover > h3 {
    opacity: 1;
    top: 2rem;
  }

  /* Mobile */
  @media (max-width: 768px) {
    .btn:hover > h3 {
      opacity: 1;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
</style>

<a href={path}>
  <div class="btn">
    <h1>{title}</h1>
    <h2>{subtitle}</h2>
    <p>{description}</p>
    <h3>{greeting}</h3>
  </div>
</a>

<style>
  .btn {
    position: relative;
    border: 2px dashed var(--zinc800);
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    min-height: 300px;
    transition: all 0.4s;
  }

  .btn > h1 {
    position: relative;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 0.5rem;
  }

  .btn > h2 {
    position: relative;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 0.5rem;
  }

  .btn > p {
    display: inline-block;
    position: absolute;
    right: 1.5rem;
    bottom: 1.5rem;
    text-align: right;
    margin-top: 2rem;
    margin-bottom: 0rem;
    font-size: 14px;
  }

  .btn > h3 {
    position: absolute;
    text-align: right;
    width: 50%;
    right: 1.5rem;
    top: 3rem;
    margin: 0;
    font-size: 24px;
    font-weight: 500;
    line-height: 20px;
    color: var(--zinc800);
    opacity: 0;
    transition: all 0.4s;
  }

  /* Mobile */
  @media (max-width: 768px) {
    .btn > h1 {
      font-size: 22px;
      width: 90%;
    }

    .btn > h2 {
      font-size: 15px;
    }

    .btn > p {
      font-size: 12px;
    }

    .btn > h3 {
      font-size: 20px;
      text-align: center;
      margin: 0;
      top: 60%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
</style>
