---
import "../styles/fonts.css";
import "../styles/colors.css";
import "../styles/transition.css";
import { Icon } from "astro-icon/components";

const { title, subtitle, description, language, path, level, isDev } =
  Astro.props;

const colorMap800: Record<string, string> = {
  heb: "rgba(30, 64, 175, 1)",
  kaz: "rgba(21, 94, 117, 1)",
  fra: "rgba(7, 89, 133, 1)",
  rus: "rgba(55, 48, 163, 1)",
};
const colorMap700: Record<string, string> = {
  heb: "rgba(29, 78, 216, 1)",
  kaz: "rgba(14, 116, 144, 1)",
  fra: "rgba(3, 105, 161, 1)",
  rus: "rgba(67, 56, 202, 1)",
};
const colorMap600: Record<string, string> = {
  heb: "rgba(37, 99, 235, 1)",
  kaz: "rgba(8, 145, 178, 1)",
  fra: "rgba(2, 132, 199, 1)",
  rus: "rgba(79, 70, 229, 1)",
};
const colorMap500: Record<string, string> = {
  heb: "rgba(59, 130, 246, 1)",
  kaz: "rgba(6, 182, 212, 1)",
  fra: "rgba(14, 165, 233, 1)",
  rus: "rgba(99, 102, 241, 1)",
};
const colorMap400: Record<string, string> = {
  heb: "rgba(96, 165, 250, 1)",
  kaz: "rgba(34, 211, 238, 1)",
  fra: "rgba(56, 189, 248, 1)",
  rus: "rgba(129, 140, 248, 1)",
};
const colorMap300: Record<string, string> = {
  heb: "rgba(147, 197, 253, 1)",
  kaz: "rgba(103, 232, 249, 1)",
  fra: "rgba(125, 211, 252, 1)",
  rus: "rgba(165, 180, 252, 1)",
};
const colorMap200: Record<string, string> = {
  heb: "rgba(191, 219, 254, 1)",
  kaz: "rgba(165, 243, 252, 1)",
  fra: "rgba(186, 230, 253, 1)",
  rus: "rgba(199, 210, 254, 1)",
};
const colorMap100: Record<string, string> = {
  heb: "rgba(219, 234, 254, 1)",
  kaz: "rgba(207, 250, 254, 1)",
  fra: "rgba(224, 242, 254, 1)",
  rus: "rgba(224, 231, 255, 1)",
};
const color800 = colorMap800[language] || "var(--zinc800)";
const color700 = colorMap700[language] || "var(--zinc700)";
const color600 = colorMap600[language] || "var(--zinc600)";
const color500 = colorMap500[language] || "var(--zinc500)";
const color400 = colorMap400[language] || "var(--zinc400)";
const color300 = colorMap300[language] || "var(--zinc300)";
const color200 = colorMap200[language] || "var(--zinc200)";
const color100 = colorMap100[language] || "var(--zinc100)";

const levelMap: Record<string, string> = {
  a0: "mdi:chess-pawn",
  a1: "mdi:chess-knight",
  a2: "mdi:chess-bishop",
  b1: "mdi:chess-rook",
  b2: "mdi:chess-queen",
  c1: "mdi:chess-king",
  grammar: "mdi:cube-outline",
  phrase: "mdi:tooltip-text-outline",
  pattern: "mdi:puzzle-outline",
  composite: "mdi:asterisk",
  vocabulary: "mdi:ship-wheel",
};
const levelIcon = levelMap[level] || "mdi:chess-pawn";
---

<style
  define:vars={{
    color800,
    color700,
    color600,
    color500,
    color400,
    color300,
    color200,
    color100,
  }}
>
  .btn:hover {
    border: 2px solid var(--color500);
  }

  .btn:hover > h1,
  .btn:hover > h2,
  .btn:hover > p {
    color: var(--color500);
  }

  .btn:hover > svg {
    opacity: 1;
    color: var(--color500);
  }

  .btn:hover > span {
    opacity: 1;
    color: var(--neutral800);
  }
</style>

<a href={path}>
  <div class="btn">
    <h1>{title}</h1>
    <h2>{subtitle}</h2>
    <p>{description}</p>
    {level && <Icon name={levelIcon} />}
    {isDev && <span>Coming Soon</span>}
  </div>
</a>

<style>
  .btn {
    position: relative;
    margin-bottom: 0.5rem;
    padding: 1rem;
    min-height: 200px;
    width: 100%;
    height: 100%;
    border: 2px solid rgba(38, 38, 38, 0.8);
    border-radius: 20px;
    background-color: transparent;
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  }

  .btn > h1 {
    position: relative;
    font-family: "Inter", sans-serif;
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 0rem;
    color: var(--neutral800);
    transition: 0.4s all;
  }

  .btn > h2 {
    position: relative;
    font-family: "Noto Korean", sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 0.5rem;
    color: var(--neutral800);
    transition: 0.4s all;
  }

  .btn > p {
    position: absolute;
    display: block;
    margin: 0;
    text-align: right;
    bottom: 1rem;
    right: 1rem;
    width: calc(100% - 2rem);
    font-size: 14px;
    transition: 0.4s all;
    color: var(--neutral800);
  }

  .btn > span {
    position: absolute;
    display: block;
    bottom: 1rem;
    left: 1rem;
    font-weight: 500;
    font-size: 18px;
    font-family: "Roboto Condensed", sans-serif;
    text-transform: uppercase;
    color: var(--zinc800);
    opacity: 0;
    transition: 0.4s all;
  }

  .btn > svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
    margin: 0;
    opacity: 0;
    color: var(--zinc800);
    transition: all 0.4s;
  }

  /* Mobile */
  @media (max-width: 480px) {
    .btn {
      min-height: 160px;
    }

    .btn > h1 {
      font-size: 22px;
    }

    .btn > h2 {
      font-size: 14px;
    }

    .btn > p {
      font-size: 12px;
    }

    .btn > span {
      opacity: 0;
      font-size: 13px;
      width: 100%;
      height: 18px;
      text-align: center;
      top: 66%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .btn > svg {
      width: 24px;
      height: 24px;
    }
  }
</style>
