---
import BaseLayout from "../../../../layouts/BaseLayout.astro";
import SectionSwitcher from "../../../../components/SectionSwitcher.astro";
import Box3 from "../../../../components/Box3.astro";

import chapters from "../../../../assets/json/patterns/chapters.json";
import chapter1 from "../../../../assets/json/patterns/english/chapter1.json";
import chapter2 from "../../../../assets/json/patterns/english/chapter2.json";
import chapter3 from "../../../../assets/json/patterns/english/chapter3.json";
import chapter4 from "../../../../assets/json/patterns/english/chapter4.json";
import chapter5 from "../../../../assets/json/patterns/english/chapter5.json";
import chapter6 from "../../../../assets/json/patterns/english/chapter6.json";
import chapter7 from "../../../../assets/json/patterns/english/chapter7.json";
import chapter8 from "../../../../assets/json/patterns/english/chapter8.json";
import chapter9 from "../../../../assets/json/patterns/english/chapter9.json";
import chapter10 from "../../../../assets/json/patterns/english/chapter10.json";

export async function getStaticPaths() {
  // 모든 경로의 조합을 생성합니다.
  // 챕터 목록(chapters)과 각 챕터의 상세 데이터(chapter1 등)를 결합해야 합니다.

  return chapters.flatMap((chapter) => {
    let jsonData;
    switch (chapter.id) {
      case 1:
        jsonData = chapter1;
        break;
      case 2:
        jsonData = chapter2;
        break;
      case 3:
        jsonData = chapter3;
        break;
      case 4:
        jsonData = chapter4;
        break;
      case 5:
        jsonData = chapter5;
        break;
      case 6:
        jsonData = chapter6;
        break;
      case 7:
        jsonData = chapter7;
        break;
      case 8:
        jsonData = chapter8;
        break;
      case 9:
        jsonData = chapter9;
        break;
      case 10:
        jsonData = chapter10;
        break;
      default:
        jsonData = chapter1;
        break;
    }

    const slug = chapter.path.split("/").filter(Boolean).pop();

    return jsonData.map((post) => ({
      params: {
        path: slug, // [path] 부분에 들어갈 값
        pattern: post.id.toString(), // [pattern] 부분에 들어갈 값
      },
      props: {
        post,
      },
    }));
  });
}

// Astro.params를 통해 URL의 모든 변수를 가져옵니다.
const { path, pattern } = Astro.params;
// getStaticPaths의 props에서 데이터를 가져옵니다.
const { post } = Astro.props;

// Section Switcher
const tabItems = [
  { id: "phrase-b1", label: "B1 (중급)" },
  { id: "phrase-b2", label: "B2 (중고급)" },
  { id: "phrase-c1", label: "C1 (고급)" },
];
---

<BaseLayout pageTitle={post.pattern + " | Lublio"}>
  <Box3
    title=`${post.id}. ${post.pattern}`
    subtitle={post.translation}
    language="eng"
  />
  <SectionSwitcher items={tabItems} />

  {
    !post ? (
      <p>서버 에러입니다.</p>
    ) : (
      <>
        {[post.b1, post.b2, post.c1].filter(Boolean).map((level, index) => (
          <>
            {index === 0 && (
              <>
                <div class={`phrase-box phrase-b1 riseUp_1`}>
                  <h1>B1</h1>
                  {level.map((phrase, index) => {
                    return (
                      <>
                        <p lang="en">
                          <span>●</span>
                          <br />
                          {phrase}
                        </p>
                      </>
                    );
                  })}
                </div>
              </>
            )}
            {index === 1 && (
              <>
                <div class={`phrase-box phrase-b2 riseUp_1`}>
                  <h1>B2</h1>
                  {level.map((phrase, index) => {
                    return (
                      <>
                        <p lang="en">
                          <span>●</span>
                          <br />
                          {phrase}
                        </p>
                      </>
                    );
                  })}
                </div>
              </>
            )}
            {index === 2 && (
              <>
                <div class={`phrase-box phrase-c1 riseUp_1`}>
                  <h1>C1</h1>
                  {level.map((phrase, index) => {
                    return (
                      <>
                        <p lang="en">
                          <span>●</span>
                          <br />
                          {phrase}
                        </p>
                      </>
                    );
                  })}
                </div>
              </>
            )}
          </>
        ))}
      </>
    )
  }

  <script>
    // 페이지 내의 모든 체크박스를 가져옵니다.
    const toggles = document.querySelectorAll(".toggle-lang");

    toggles.forEach((toggle) => {
      toggle.addEventListener("change", (e) => {
        const targetClass = (e.target as HTMLInputElement).dataset.target;
        const isVisible = (e.target as HTMLInputElement).checked;

        // 해당 클래스를 가진 모든 요소를 찾아 숨기거나 보입니다.
        const elements = document.querySelectorAll(`.${targetClass}`);
        elements.forEach((el) => {
          (el as HTMLElement).style.display = isVisible ? "block" : "none";
        });
      });
    });
  </script>
</BaseLayout>

<style>
  .phrase-box {
    margin-bottom: 1.5rem;
  }

  .phrase-box > h1 {
    font-family: "Inter", "Noto Hebrew", sans-serif;
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 700;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    width: 100%;
  }

  .phrase-box > h2 {
    text-align: left;
  }

  .phrase-box > p {
    display: inline-block;
    text-align: left;
    width: 100%;
    padding: 3rem;
    font-size: 24px;
    font-weight: 500;
    line-height: 3rem;
    margin-bottom: 1.5rem;
    hyphens: auto;
    overflow-wrap: break-word;
    font-family: "Inter", "Noto Hebrew", sans-serif;
    background-color: var(--neutral50);
  }

  .phrase-box > p > span {
    display: inline-block;
    text-transform: uppercase;
    width: 100%;
    font-weight: 700;
    font-size: 24px;
    direction: ltr;
    color: var(--pink300);
    margin-bottom: 1rem;
  }

  .phrase-box > h1,
  .phrase-box > p {
    color: var(--neutral800);
  }

  /* Mobile */
  @media (max-width: 480px) {
    .phrase-box > h1 {
      font-size: 24px;
      margin-bottom: 1.5rem;
    }

    .phrase-box > p {
      font-size: 18px;
      margin-bottom: 1rem;
    }

    .phrase-box > p > span {
      font-size: 18px;
    }
  }
</style>
